<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Notes</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
	<nav class="navbar is-dark">
		<div  class="navbar-brand">
			<a href="{% url 'editor' %}" class="navbar-item">Notes</a>
		</div>

		<div class="navbar-menu">
			<div class="navbar-end">
				<a href="{% url 'editor' %}?id=0" class="navbar-item">New Note</a>&emsp;
			</div>
		</div>
	</nav>

	<section class="section">
		<div class="columns">
			<div class="column is-2">
				<aside class="menu">
					<p class="menu-label">Notes</p>

					<ul class="menu-list">
						{% for note in notes %}
							<li>
								<a href="{% url 'editor' %}?id={{ note.id }}">{{ note.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
			<div class="column is-10">
				<form method="post" action="{% url 'editor' %}">
					{% csrf_token %}

					<input type="hidden" name="id" value="{{ id }}">

					<div class="field">
						<label class="label">
							Title

							{% if note %}
								<span class="has-text-grey-light">
									Created at: {{ note.created_at|date:"m/d Y" }}
									{% if note.created_at != note.modified_at %}
										/ Modified at: {{ note.modified_at|date:"m/d Y" }}
									{% endif %}
								</span>
							{% endif %}
						</label>
						<div class="control">
							<input type="text" class="input" name="title" placeholder="Title" {% if note %} value="{{ note.title }}"{% endif %}>
						</div>
					</div>
					<div class="field">
						<label class="label">Content</label>
						<div class="control">
							<textarea class="textarea" name="content" placeholder="Content">{% if note %}{{ note.content }}{% endif %}</textarea>
						</div>
					</div>

					<div class="field is-grouped">
						<div class="control">
							<button class="button is-primary">Save</button>
						</div>
						{% if note %}
							<div class="control">
								<a href="{% url 'deleteNote' note.id %}" class="button is-danger">Delete</a>
							</div>
						{% endif %}
					</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>